* {
    /*border: 1px black solid;*/
    margin: 0;
    padding: 0;

}

.brand {
    display: flex;
    align-items: center;
    margin: 5px;
}

.logo_svg {
    width: 50px;
    height: 50px;
    margin: 5px;
    /*border: 1px red solid;*/
}
h2,p{
    font-family: 'Raleway', sans-serif;
}

#gallery{
    margin: 10px;
}

.logo_name {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #5A0B4D;
    align-self: center;
}

ul{
    list-style: none;
}

.navigation ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li.contact {
    margin: 5px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #5A0B4D;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar {
    border-bottom: 1px #5A0B4D solid;
    margin: 0 2px 0 2px;
}

#gallery{
    display: flex;
    align-items: flex-start;

}

#images_container{
    flex:2;
    /*background-color: #333333;*/
    display: flex;
    justify-content: center;

}

#chair_details{
    max-width: 300px;
    padding: 0;
    display: block;
    flex: 1;
    /*background-color: #2aabd2;*/
    border: 2px solid #5A0B4D;
    border-radius:10px ;

}

#chair_name{
    text-align: center;
    background-color: #5A0B4D;
    text-transform:uppercase ;
    color: white;
    font-weight: 200;
    font-size: 25px;
    padding:10px;
    border-radius: 8px 8px 0 0 ;
    letter-spacing: 2px;

}

.chair_info{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: #5A0B4D;
    font-weight: lighter;
    font-size:17px ;

}
#price_request{

    text-decoration: none;
    color: white;
}

#price_request p{
    /*border: #2188a6 solid 2px;*/
    background-color: #5A0B4D ;
    border-radius: 2px;
    margin: 50px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}

#details_image{
    height: 500px;
    width: auto;
}



