* {
    /*border: 1px black solid;*/
    margin: 0;
    padding: 0;

}

.brand {
    display: flex;
    align-items: center;
    margin: 5px;
}

.logo_svg {
    width: 70px;
    height: 70px;
    /*border: 1px red solid;*/
}
h2,p{
    font-family: 'Raleway', sans-serif;
}

.logo_name {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #808284;
    align-self: center;
}

ul{
    list-style: none;
}

.navigation ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li.contact {
    margin: 5px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #808284;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar {
    border-bottom: 1px #b3b1b7 solid;
    margin: 0 2px 0 2px;
}

#gallery{
    display: flex;
    height: 500px;
}

#images_container{
    flex:2;
    background-color: #333333;
    display: flex;
    justify-content: center;

}

#chair_details{

    display: block;
    flex: 1;
    background-color: #2aabd2;
}

#chair_name{
    color: #25688c;
    font-weight: 200;
    font-size: 25px;
    margin:10px;
    letter-spacing: 2px;

}

.chair_info{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: #2188a6;
    font-weight: lighter;
    font-size:17px ;
}
#price_request{

    text-decoration: none;
    color: #389ad0;
}

#price_request p{
    /*border: #2188a6 solid 2px;*/
    background-color: #25688c ;
    border-radius: 2px;
    margin: 50px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}



