
* {
    margin: 0;
    padding: 0;
    /*border: 1px white solid;*/
}

body {
    background: url("/static/images/wood.jpg") no-repeat top center fixed;

}

.head {

    width: 100%;

}

.btn.contact{
    width: 200px;
}

.buttons {
    margin-top: 30px;
    display: inline-flex;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.btn {
    margin: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.btn:hover, .btn:focus {
    background-color: rgba(124, 129, 133, 0.51);
    color: white;
}

img {
    display: block;
    margin: auto;
}

h1, p {
    font-weight: 100;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}



.thumbnail_image {
    border: white 3px solid;
    border-radius: 1em;
    height: 300px;
    width: 200px;
}



.photo_name {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    margin-top: 1em;
    padding-left: 0.3em;
}

.gallery {


    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.floated_div {
    margin: 20px auto;
    display: inline-block;
}

.btn.btn_small{
    padding: 0.3em;
    margin: 0.2em;
}
/*.btn_small.request{*/
    /*background-color: #4569eb;*/
/*}*/

/*.btn_small.request:hover,.btn_small.request:focus{*/
    /*background-color: #334ea1;*/
/*}*/
/*.btn.details{*/
    /*background-color: #eb6a58;*/
/*}*/
/*.btn_small.details:hover,.btn_small.details:focus{*/
    /*background-color: #a24d3e;*/
/*}*/

.navigation{
    padding: 0;
    display: flex;
    justify-content: space-around;
}



