
* {
    margin: 0;
    padding: 0;
    /*border: 1px black solid;*/
}

body {

    background-color: #e8e8e8;


}

.head{
    padding-top: 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10%;
}
.head h1{
    font-weight: bolder;
}

#logo_div{
    align-items: center;
    display: flex;
    margin-top:2%;
    margin-bottom: 10px;
}

#logo{
    margin: 15px;
    width: 80px;
    height: 80px;
}


.btn.contact{
    width: 200px;
}

.buttons {
    margin-top: 20px;

}

.btn {
    margin: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.btn:hover, .btn:focus {
    background-color: rgba(124, 129, 133, 0.51);
    color: white;
}



h1, p {

    text-align: center;
    color: #5A0B4D;
    font-family: 'Raleway', sans-serif;
    /*letter-spacing: 0.1em;*/
    font-weight: 100;
}
a{
    text-decoration: none;
}



.thumbnail_image {
    /*border: #5A0B4D 3px solid;*/
    border-radius: 1em;
    height: 300px;
    width:200px;
}

.floated_div {
    background-color: #e8e8e8;
    margin: 25px ;
    display: inline-block;
    border: 2px #5A0B4D solid;
    border-radius: 1em;
    width: 200px;

}





.photo_name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    margin: 0.5em;
    color: #5A0B4D;
}

.price_tag{

    background-color: #5A0B4D;
    font-family: 'Raleway', sans-serif;
    margin: 0.5em;
    color: #cdcdcd;
    border-radius:0.5em ;
    border: 2px #5A0B4D solid;
    padding: 0.5em;
    position: center;
}

.gallery {


    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}



.btn.btn_small{
    background-color: #5A0B4D;
    border: 2px #5A0B4D solid;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.2em;
}


.navigation{
    padding: 0;
    display: flex;
    justify-content: space-around;
}



