
* {
    margin: 0;
    padding: 0;
    /*border: 1px white solid;*/
}

body {
    /*background-attachment: fixed;*/
    /*background-color: #1d5169;*/
    background: url("/static/images/background1.jpg") no-repeat top center fixed;
    /*background-size:cover ;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.head {

    width: 100%;

}

.buttons {
    margin-top: 30px;
    display: inline-flex;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.btn {
    margin: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.btn:hover, .btn:focus {
    background-color: rgba(124, 129, 133, 0.51);
    color: white;
}

img {
    display: block;
    margin: auto;
}

h1, p {
    font-weight: 100;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.footer {
    position: absolute;
    bottom: 0;
}

.thumbnail_image {
    border: black 1px solid;
    border-radius: 2em;
    padding: 0.5em;
    max-height: 230px;
    max-width: 95px;
    width: auto;
    height: auto;
}

* {
    border: black 1px solid;
}

.photo_name {
    letter-spacing: 0.1em;
    font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
    font-weight: bolder;
    margin-top: 1em;
    padding-left: 0.3em;
}

.gallery {

    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.floated_div {
    flex-basis: 30%;
    display: inline-block;
    box-sizing: border-box;
}

@media (min-width: 900px) {
    .gallery {

    }
}


