
* {
    margin: 0;
    padding: 0;
    /*border: 1px white solid;*/
}

body {
    /*background-attachment: fixed;*/
    /*background-color: #1d5169;*/
    background: url("/static/images/background1.jpg") no-repeat top center fixed;
    /*background-size:cover ;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.container {

    width: 100%;

}

.content {

    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;

}

.buttons {
    margin-top: 30px;
    display: inline-flex;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.btn {
    margin: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;

}
.btn:hover,.btn:focus{
    background-color: rgba(124, 129, 133, 0.51);
    color: white;
}

img {
    display: block;
    margin: auto;
}

h1, p {
    font-weight: 100;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.footer {
    position: absolute;
    bottom: 0;
}