<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chair details</title>
    {% load static %}
    <link href="{% static 'stylesheets/details.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Lato|Kanit|Roboto" rel="stylesheet">
</head>
<body>
<nav class="nav-bar">
    <div class="navigation">
        <ul>
            <li>
                <div class="brand">
                    <a href="{% url 'home' %}"><img class="logo_svg" src="{% static 'images/svgs/logo.svg' %}"/></a>
                    <a href="{% url 'home' %}"><h2 class="logo_name">Etrby Chairs Factory</h2></a>
                </div>
            </li>
            <li class="contact">
                <a href="#"><p>Contact us</p></a>
            </li>
        </ul>
    </div>
</nav>

<div id="gallery">
    <div id="chair_details">
        <h2 id="chair_name">{{ chair.name }}</h2>
        <p class="minimum_order"><strong>Minimum order :</strong> {{ chair.fcl }} for 20" container</p>
        <p class="chair_info"><strong>Description : </strong>{{ chair.description }}</p>
        <p class="price">{{ chair.price }} USD</p>
    </div>
    <div id="images_container">
        <ul>
            {% for image_model in images %}
                <li><img id="details_image" src="{{ image_model.image.url }}"></li>
            {% endfor %}
        </ul>
    </div>


</div>


</body>
</html>


