<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etrby Chairs Factory</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="{% static 'stylesheets/home.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
    <div class="head">
        <div id="logo_div">
            <img id="logo" src="{% static 'images/svgs/logo.svg' %}">
        <h1>Etrby Chairs Factory</h1>
        </div>

        <div class="buttons">
            <a class="btn btn-default contact">Contact Us</a>
        </div>
    </div>
    <div class="gallery">
        {% for image_model in thumb_nails %}
            <div class="floated_div">
                <img class="thumbnail_image" src="{{ image_model.image.url }}">
                <p class="photo_name">{{ image_model.chair.name }}</p>
                <div class="navigation">
                    <a href="#" class=" btn btn-default btn_small request">Price request</a>
                    <a href="{% url 'details' id=image_model.chair.id %}" class="btn btn-default btn_small details">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="footer">
        <div class="buttons">
            <a href="{% url 'index' %}" class="btn btn-default">Catalogue</a>
            <a class="btn btn-default">Contact Us</a>
        </div>
    </div>
</div>


</body>
</html>